@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}

.word:first-child .word__value {
  text-transform: capitalize;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  font-size: 20px;
}
